---
layout: default
title: Harsh Kakashaniya
---
  <section class="row-fluid homepage-section">
    <div class="promo">
      <h1 class="promo__title">{{ site.title }}</h1>
      <p class="promo__text">{{ site.tagline }}</p>
      <div class="promo__toolbar">
        <a href="{{ site.baseurl }}/Projects/" class="btn btn-primary promo__button download-button">Projects</a>
        <a href="{{ site.baseurl }}/Contact/" class="btn btn-primary promo__button download-button" target="_blank">Contact Me</a>
      </div>
    </div>
  </section>

  <section class="row-fluid homepage-section about-noflo">
    <div class="plain-title">
      <div class="container">
        <div class="span8 offset4">
          <h1>About Me ... </h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main">
        <div class="sidebar span4">
          <img src="./img/Harsh.png" alt="" title="" class="sidebar__image" />
        </div>
        <div class="content span8">
          <p>I am a master's student pursuing my Masters in Robotics from the University of Maryland at College Park. Completed my bachelor's degree from MIT College of Engineering, Pune(2016) in Mechanical Engineering.</p>

<p>Graduate Student with an extensive hands-on practical experience and interest in Robotics Systems development, SLAM , robotics motion planning, and controls. Passionate about technologies having real-world, large scale impact on society and proficient at conducting research. Along with technical know-how, possessing stellar communication, problem-solving and analytical skills.
</p>
        </div>
      </div>
    </div>
  </section>

<!-- Time line-->
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/home.css">
	<nav class="class">
			<ol class="breadcrumb navbar-left"></ol></nav>
			<div class="row section-customization">
				<div class="section wider">
					<h2 class="section-header">
						Professional Timeline
					</h2>
					{% include cards.html %}
				</div>
			</div>
	<script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
	<script src="{{ site.url }}/js/animation.js"></script>
	<script src="{{ site.url }}/js/headroom.min.js"></script>
	<script src="{{ site.url }}/js/dragdealer.min.js"></script>
	<script src="{{ site.url }}/js/main.js"></script>



<section class="row-fluid">
<div class="container-fluid">
  <div class="row-fluid">
<div class="span8 offset4">
          <h1>Work Experience ... </h1>
</div>
</div>
</div>
</section>

<section class="row-fluid">
<div class="Right-work">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5 offset1">
    <img src="./img/cards/extensions/download.jpg" alt="" title="" class="rightwork__image" />
    <h2><font color="white">Title:</font></h2>
    <p><font color="white">Robotics Engineer Intern</font></p>
    <h2><font color="white">Duration:</font></h2>
    <p><font color="white">May 2019 - Present</font></p>
    <h2><font color="white">Projects :</font></h2>
<ul><font color="yellow">
    <li><font color="yellow">Multi-agent Planning in Warehouse Environment:</font></li>
 <p><font color="white">Successfully designed pipeline for simultaneous motion of robot with dynamic collision avoidance.</font></p>


 <li><font color="yellow"> Bi-directional Path planning: </font></li> 
 <p><font color="white">Implemented and Tested bidirectional path planning algorithms on vehicle with
differential constraints for warehouse dynamic environment. </font></p>


 <li><font color="yellow"> Position estimation using computer vision techniques: </font> </li>

<p><font color="white">Designed and tested algorithm for orientation estimation using camera for robot attachment.</font></p>
</font></ul>
    </div>

    <div class="span4 offset1">
    <img src="./img/cards/extensions/acg_new.jpg" alt="" class="leftwork__image" />
    <h2><font color="white">Title:</font></h2><p><font color="white">Design Engineer</font></p>
    
    <h2><font color="white">Duration:</font></h2>
    <p><font color="white">July 2016 - Aug 2018</font></p>
    <h2><font color="white">Projects :</font></h2>
<ul><font color="yellow" align="left">
    <li><font color="yellow">Robotic Pick-and-Place:</font></li>
 <p><font color="white">Developed “Robotic Pick-and-Place” (3D SCARA of RRP type) resulting in a market revolution; we were the first company in India to have a robotic transfer system. The company showcased this work at ‘P-Mech Exhibition 2018’.</font></p>


 <li><font color="yellow"> Biscuit Packer: </font></li> 
 <p><font color="white">Launched a Special Biscuit transfer attachment for packing 110 biscuits per minute which led to opening of completely new business avenue for ACG in the FMCG market. </font></p>


 <li><font color="yellow"> Value addition and Value Engineering: </font> </li>

<p><font color="white">Led ‘Value addition and Value Engineering’ in the Design department
which caused a high reduction in overall costs due to the design optimizations.</font></p>

 <li><font color="yellow"> Operational Excellence: </font> </li>

<p><font color="white">Improved output efficiency by 15% yielding a record breaking total number of
machines produced by the company in Sep’16.</font></p>


</font></ul>
    </div>
  </div>
</div>
  </section>



  <section class="row-fluid homepage-section about-noflo">
    <div class="flowhub-promo">
      <a class="flowhub-promo-logo" href=https://www.youtube.com/c/soft-illusion"><img src="{{ site.basedir }}/img/Soft_illusion.png" alt="Flowhub"></a>
      <h1 class="flowhub-promo-title">Soft_illusion</h1>
      <p><font color="yellow" >Interested in Robotics and Simulation and wish to make a difference!!? Then you are probably at the right place.
Soft_illusion is a channel which aims to help the robotics community!!</font></p> 
<p><font color="yellow" > Currently we are working to provide easy to learn tutorials on the Robot simulator called Webots. The tutorials begins with the basic installation of the simulator, and ranges to higher level applications. </font></p>

<h2 class="flowhub-promo-title"><font color="green" >120K+ Views , 950+ Subscribers and Counting . . . </font></h2>
      <a href="https://www.youtube.com/c/soft-illusion" class="btn btn-primary flowhub-promo-button download-button">Channel Link</a>
    </div>
  </section>


  <section id="featured" class="row-fluid homepage-section">
    <div class="who-uses-noflo">
      <div class="container">
        <div class="span3">
	<img src="./img/skill.png" alt="" title="" class="sidebar__image" />
          
        </div>
        <div class="span9 who-uses-noflo__logos">
          <ul>
            {% for library in site.highlight_libraries %}
            <li>
              <a>
                <img src="{{ site.baseurl }}/img/library/{{ library }}.jpg" alt="{{ library }}" title="{{ library }}" />
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>



