					<div class="section-content">
						<div class="container screen-type-cards">
							<div id="screen-type-cards" class="dragdealer">
								<div class="handle" style="width: 2500px;">

									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/mit.jpg" alt="">
											<h5 class="card-title">Bachelor's in Mechanical Enginnering from MIT (Maharashtra Institute of Technology)</h5>
											<p>Show a video gallery from RSS feed</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/vtweak.jpg" alt="">
											<h5 class="card-title">Cofounder at Vtweak.in</h5>
											<p>Show Vimeo video gallery</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/Soft_illusion.jpg" alt="">
											<h5 class="card-title">YouTube Channel Soft Illusion</h5>
											<p>Show YouTube video gallery</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/acg.jpg" alt="">
<h5 class="card-title">.<h5>	 									
<h5 class="card-title">Design Engineer at ACG</h5>
<p>July 2016 - Aug 2018 </p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/University_of_Maryland.png" alt="">
<h5 class="card-title">.<h5>										<h5 class="card-title">1st Year Robotics Graduate Student at University of Maryland</h5>
											<p>Aug 2018 - May 2019</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/download.jpg" alt="">
<h5 class="card-title">.<h5>								<h5 class="card-title">Robotics Research Intern at ARCBEST</h5>
											<p>May 2019 - Aug 2019</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/University_of_Maryland.png" alt="">
<h5 class="card-title">.<h5>											<h5 class="card-title">2nd Year Graduate Student</h5>
											<p>Aug 2019 - May 2020</p>
										</div>
									</div>
										<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/giphy.gif" alt="">
											<h5 class="card-title">Next Company</h5>
<p>Coming Soon</p>
										</div>
									</div>
									<div class="card">
								</div>
							</div>
						</div>
					</div>
