  <footer class="site-footer">
    <div class="row-fluid">
      <div class="container">
        <p>{{ site.title }} . All rights reserved.</p>
      </div>
    </div>
  </footer>



  <nav class="mobile-nav">
    <ul class="nav">
      <li><h3>Site</h3></li>
	<li><a href="{{ site.baseurl }}/"{% if page.categories contains 'example' %} class="active"{% endif %}>Home</a></li>
      <li><a href="{{ site.baseurl }}/Projects/"{% if page.categories contains 'example' %} class="active"{% endif %}>Projects</a></li>
      <li><a href="{{ site.baseurl }}/Resume/"{% if page.categories contains 'documentation' %} class="active"{% endif %}>Resume</a></li>
      <li class="last"><a href="{{ site.baseurl}}/Certifications/"{% if page.categories contains 'library' or page.categories contains 'component' %} class="active"{% endif %}>Certifications</a></li>
	<li><a href="{{ site.baseurl }}/Contact/"{% if page.categories contains 'example' %} class="active"{% endif %}>Contact me</a></li>
      <li><h3>Contact</h3></li>
      <li><a href="mailto:harshkakashniya@gmail.com"class="email">Mail</a></li>
      <li><a href="https://www.linkedin.com/in/harsh-kakashaniya/" class="share">Linkedin</a></li>
      <li><a href="https://github.com/harshkakashaniya">Github</a></li>
    </ul>
  </nav>
