---
layout: default
---
  <div class="row-fluid">
    <div class="page-title documentation-page-title">
      <div class="container">
        <h1 class="page-title__title">Resume</h1>
        <a href="{{ site.baseurl }}/Resume/Harsh_kakashaniya.pdf" class="btn btn-primary page-title__button big-button">{{ site.version }} Download Resume</a>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="container documentation-main-container">
      <div class="main">
            <ul class="sidebar__nav">
                <a href="{{ site.baseurl }}/Resume/index.html"
            </ul>
        <div class="content span12">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
